/* DEBUG start, untuk mengecek saja. Nonaktifkan jika tidak diperlukan */
body {
  padding-bottom: 1000px;
}
/* DEBUG end */

body {
  font-family: "Forum", cursive;
  font-size: 20px;
  margin-top: 64px !important;
}

/* Navbar */
.bg-custom {
  background-color: #322338;
}

.navbar-brand {
  font-size: 1.7rem;
}

/* Custom Button */
.btn-custom {
  background-color: #fff;
  color: #322338;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #eee;
}

/* Icon */
.icon {
  color: #fff !important;
}
